.rc-intro {
  background-color: #222;
  padding: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.rc-img {
  max-width: 50px;
}

.rc-title {
  font-size: 5rem;
  margin-top: 3rem;
  color: #fff;
  font-family: 'Open Sans';
  font-weight: 700;
  letter-spacing: -2px;
}

.rc-description {
  margin-top: 2rem;
  font-size: 2rem;
  color: #ccc;
}

h2 {
  margin: 20px auto;
}

.userlist {
  td {
    vertical-align: middle !important;

    img {
      height: 40px;
    }
  }

  tr {
    cursor: pointer;
  }

  tr:first-child {
    td {
      border-top: 0;
    }
  }
}

.bordered {
  border: 1px solid #ddd;
}

.row {
  & + .row {
    margin-top: 15px;
  }
}

.btn + .btn {
  margin-left: 15px;
}

.detailed-view {
  &__quote {
    padding: 15px;
  }

  &__avatar {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    display: block;
  }
}

.sort-bar {
  .fa {
    margin-right: 5px;
  }
}
